<% layout('layouts/boilerplate') %>
<section>
    <div class="container">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Nationality</th>
                </tr>
            </thead>
            <tbody>
                <% for( const guest of guests ) { %>
                <tr>
                    <td>
                        <a href="/<%= guest.guestId %>">
                            <%= guest.name %>
                        </a>
                    </td>
                    <td>
                        <%= guest.phone %>
                    </td>
                    <td>
                        <%= guest.address %>
                    </td>
                    <td>
                        <%= guest.nationality %>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</section>